<div class="card text-center">
  <div class="card-header">
    {{> matcha-tabs route='index'}}
  </div>
  <div id="index" class="card-body mx-4">
    {{#each matcha}}
    <a href="/matchas/matcha/{{ this.id }}">
      <div class="mt-4">
        <img src="{{ this.image }}" class="card-img-top">
        <div>
          <h4 class="card-title mt-2">{{ this.name }}</h4>
          <p class="card-text">{{ this.address }}</p>
        </div>
      </div>
    </a>
    {{/each}}
  </div>
</div>