html, body {
  font-family: 'Ma Shan Zheng', cursive;
}
.navbar {
  background-color: rgb(123,139,111);
}
.nav-link {
  color: #102832;
}
.nav-link:hover {
  color: #102832;
}
a {
  color: #102832;
  text-decoration: none;
}
li {
  list-style: none;
}
#matcha {
  height: 92vh;
  width: 67vw;
  overflow-y:auto;
}
#search {
  height: 92vh;
  width: 33vw;
  border: 3px solid #ddd;
  overflow-y:auto;
}
#index {
  display: flex;
  flex-flow: row wrap;
  justify-content:space-between;
}
#matcha-comment {
  height: 35vh;
  width: 28vw;
}
#public-comment {
  height: 35vh;
  width: 28vw;
}
.center {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
}
.btn {
  font-size:18px;
}
.btn-checkbox {
  border-radius: 5px;
  color: rgb(126, 122, 122);
  border: 1px solid rgb(126, 122, 122);
}
.btn-checkbox:hover {
  background-color: rgb(126, 122, 122);
  color: rgb(253, 251, 251);
}
.text-center {
  border: none;
}
.input-color {
  color: #323558;
  background-color: rgb(236,236,234);
}
.card-color {
  color: #323558;
  background-color: rgb(224,229,223);
}
.card-header-color {
  font-size:18px;
  color: #323558;
  background-color: rgb(150,164,139);
}
.card img {
  height: 250px;
  width: 250px;
  border-radius: 10%;
}
.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight:bold;
  font-size:medium;
  text-align: left;
  margin-bottom: 0.1rem;
  color: #102832;
}
.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: xx-small;
  text-align: left;
  margin-top: 0.1rem;
  color: #102832;
}
.popup {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(57, 55, 55, 0.5);
	z-index: 9999;
}
.popup-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #323558;
  background-color: rgb(224,229,223);
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
	max-width: 500px;
}